* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8fafc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e5B;
}

header {
    background-color: #3498db;
    color: white;
    padding: 25px;
    text-align: center; 
}

header h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
}   

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 12px 20px;
    border-radius: 8px;
}

main {
    max-width: 900px;
    padding: 0 25px;
    margin: 50px auto;
   
}

section {
background-color: white;
margin-bottom: 35px;
padding: 35px;
border-radius: 12px;
border-left: 6px solid #667eea
}

section h2 {
    color:#2d374B;
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: 600;
}

section h3 {
    color:#2d374B;
    font-size: 18px;
   
}

section h4 {
    color:#718996;
    font-weight: 500;
}

section p {
    line-height: 1.3;
    margin-bottom: 18px;
    color: #4a5568;
}

section strong {
    color: #667eea;
}

ul, ol {
    margin: 18px 0;
    padding-left: 35px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 16px;
    color: #4a556b;
}

img {
    width: 50%;
    border-radius: 12px;
    margin: 25px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}